<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_history_item_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{273,42},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,17}</string>
                <key>spriteSourceSize</key>
                <string>{42,17}</string>
                <key>textureRect</key>
                <string>{{491,61},{42,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_item_combine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{63,19}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{1,95},{63,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_item_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{185,42},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_item_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,2}</string>
                <key>spriteSourceSize</key>
                <string>{109,2}</string>
                <key>textureRect</key>
                <string>{{1,116},{109,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_item_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,33}</string>
                <key>spriteSourceSize</key>
                <string>{182,33}</string>
                <key>textureRect</key>
                <string>{{1,42},{182,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,39}</string>
                <key>spriteSourceSize</key>
                <string>{398,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_progress_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{491,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_level_reward_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,17}</string>
                <key>spriteSourceSize</key>
                <string>{42,17}</string>
                <key>textureRect</key>
                <string>{{491,80},{42,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{401,1},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plist.png</string>
            <key>size</key>
            <string>{550,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ab8422af68cbc3dfdda7d2f7d9f98ad:5f9f4282a9502ec937046acb68b57a59:64b31c72cb4d8630b2ffcce4db9c3601$</string>
            <key>textureFileName</key>
            <string>plist.png</string>
        </dict>
    </dict>
</plist>
